<% @inv.each do |i| %>
<h5 id="inventory" style="text-align: center"><b>Item Code: &nbsp;&nbsp;&nbsp;<%= i.code %></b></h5>
	<%= form_tag(save_main_path(i.code), remote: true, id: 'updateinv') do %>
	<div class="row">
			<div class="large-12 columns">
			<div class="row collapse">
        		<div class="small-3 columns">
          			<span class="prefix">Item Name</span>
        		</div>
        		<div class="small-9 columns">
          			<%= text_field_tag :itemname, i.itemname, style: "text-align: center" %> 
        		</div>
            </div>
            
           
			<div class="row collapse">
        		<div class="small-3 columns">
          			<span class="prefix">Details</span>
        		</div>
        		<div class="small-9 columns">
          			<%= text_field_tag :detail, i.detail, style: "text-align: center" %> 
        		</div>
            </div>
            
			<div class="row collapse">
        		<div class="small-5 columns">
        			<div class="small-4 columns">
          				<span class="prefix">Part Number</span>
        			</div>
        			<div class="small-8 columns">
          				<%= text_field_tag :partnum, i.partnum, style: "text-align: center" %> 
        			</div>
        		</div>

        		<div class="small-5 columns">
	            	<div class="small-4 columns">
	          			<span class="prefix">Location</span>
	        		</div>
	        		<div class="small-8 columns">
	          			<%= text_field_tag :location, i.vin, style: "text-align: center" %> 
	        		</div>
	        	</div>
            </div>

			<div class="row collapse">
        		<div class="small-5 columns">
        			<div class="small-4 columns">
          				<span class="prefix">SRP</span>
        			</div>
        			<div class="small-8 columns">
          				<%= number_field_tag :srp, i.srp, style: "text-align: center" %> 
        			</div>
        		</div>

        		<div class="small-5 columns">
	            	<div class="small-4 columns">
	          			<span class="prefix">cost</span>
	        		</div>
	        		<div class="small-8 columns">
	          			<%= number_field_tag :cost, i.cost, style: "text-align: center" %> 
	        		</div>
	        	</div>
            </div>
			
            
            <hr>
			
			<div class="row collapse">
        		<div class="large-3 columns">
	        		<div class="small-3 columns">
	          			<span class="prefix">Beg</span>
	        		</div>
	        		<div class="small-9 columns">
	          			<%= number_field_tag :beg, i.qtyBeg, style: "text-align: center" %>
	        		</div>
            	</div>

            	<div class="large-3 columns">
	            	<div class="small-3 columns">
	          			<span class="prefix">In</span>
	        		</div>
	        		<div class="small-9 columns">
	          			<%= number_field_tag :in, i.qtyIn, style: "text-align: center" %> 
	        		</div>
            	</div>

            	<div class="large-3 columns">
            		<div class="small-3 columns">
	          			<span class="prefix">Out</span>
	        		</div>
	        		<div class="small-9 columns">
	          			<%= number_field_tag :out, i.qtyOut, style: "text-align: center" %> 
	        		</div>
	            </div>

            	<div class="large-3 columns">
	        		<div class="small-3 columns">
	          			<span class="prefix">End</span>
	        		</div>
	        		<div class="small-9 columns" >
	          			<%= number_field_tag :end, i.qtyEnd, style: "text-align: center" %> 
	        		</div>
            	</div>

			</div>
       </div>
   </div>
		<%= submit_tag "Update", id: 'btnupdate', :style=> "float: right", :class=> "button alert radius", data:{ disable_with: 'wait' }%>
	<% end %>
<% end %>
<%= link_to "Back", view_main_path(params[:id]), remote: true, data: {reveal_id: 'myModal'}, class: 'medium button alert radius' %>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>


