  
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Search</span>
        </div>
        <div class="small-9 columns">
          <input type="text" id="search" placeholder="Type here...">
        </div>
      </div>
    </div>
    <br><br><br><br>
   <div style ="font-size: 12px">
   <table style="margin-left: 0.9375rem;" id="table" class="scroll">
        <thead>
        <tr>
            <th style="width: 30px">Code</th>
            <th style="width: 70px">Part No.</th>
            <th style="width: 300px">Item Name</th>
            <th style="text-align: center; width: 100px">Qty Available</th>
            <th style="text-align: right; width: 100px">Selling Price</th>
            <th style="text-align: center; width: 100px">Location</th>
        </tr>
        </thead>
        <tbody class="scrollbody">
        <% @items.each do |i| %>
        
        <tr>
         <td style="width: 30px"><%= i.code %></td>
         <td style="width: 70px"><%= i.partnum %></td>
         <td style="width: 300px"><%= link_to i.itemname, view_main_path(i.code), remote: true, data: { reveal_id: 'myModal' } %>
          <!--<a href="main/<%= i.code %>/view" data-reveal-id="myModal" data-reveal-ajax="true" data-remote="true"></a>--></td>
         <td style="text-align: center; width: 100px"><%= i.qtyEnd %></td>
         <td style="text-align: right; width: 100px"><%= number_with_precision(i.srp, precision: 2, separator: '.', delimiter: ',') %></td>
         <td style="text-align: center; width: 100px"><%= i.vin %></td>
        </tr>
        <% end %>
        </tbody>
    </table>
  </div>
