<% @item.each do |i| %>
<div class="modal-header btn-danger">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><%= i.itemname %></h4>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="text-center" id="img">
        <% if @img %> 
        <%= image_tag @img, :id=>"image", :style => "margin: 0 0 auto; max-height: 300px; max-width: 300px" %>
        <% else %>
        <%= image_tag 'ring.png', :style => "margin: 0 0 auto; height: 200px; width: 200px" %>
        <% end %>
      </div>
    </li>
    <li class="list-group-item text-center">
      <i><%= i.detail %></i>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-4">
          PartNumber:<br>
          <%= text_field_tag '', i.partnum, class: 'form-control text-center' %>
        </div>
        <div class="col-xs-4 text-center">
          SRP:<br>
          <%= text_field_tag '', peso(i.srp), class: 'form-control text-center' %>
        </div>
        <div class="col-xs-4 text-center">
          Available:<br>
          <%= text_field_tag '', i.qtyEnd, class: 'form-control text-center' %>
        </div>
      </div> 
    </li>
    
  </ul>
</div>
<div class="modal-footer" id="upload">
  <% if session[:role] == 1 %>
    <% if @img 
      @label= '<i class="fa fa-camera"></i> Edit Image'
    else
      @label= '<i class="fa fa-camera"></i> Add Image'
    end 
    -%>
    <%= link_to raw(@label), image_main_path(params[:id]), remote: true, class: 'btn danger text-shadow' %>
    <%= link_to raw('<i class="fa fa-pencil"></i> Inventory'), edit_main_path(params[:id]), remote: true, data: { toggle: 'modal', target: "#inventory" }, class: 'btn danger text-shadow' %>
  <% end %>
</div>
<% end %>

