<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "DMS Inquiry" %></title>
	<%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag    "application" %>
	<!--%= javascript_include_tag "vendor/custom.modernizr" %-->
	<%= csrf_meta_tags %>
</head>

<body class="img-body">
	<input type="checkbox" id="offcanvas" class="toggle" />
	<div class="wrapper">
		<aside class="hidden-lg hidden-md">
			<nav class="navbar navbar-gray">
				<br /><br /><br /><br /><br />
				<%= render 'layouts/tree' %>
				<br /><br /><br /><br /><br />
			</nav>
		</aside>
		<section>
			<%= render 'layouts/topbar' %>
			<br /><br /><br /><br />

			<br />
			<div class="container-fluid">
				<div class="row">
					<div class="hidden-sm hidden-xs col-md-3 col-lg-3">
						<%= render 'layouts/tree' %>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pull-right">
						<%= yield %>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>